@font-face {
  font-family: "3emj";
  src: url("fonts/3emj regular 1.0.ttf");
}

/* unvisited link */
a:link {
  color: White;
}

/* visited link */
a:visited {
  color: White;
}

/* mouse over link */
a:hover {
  color: Yellow;
}

/* selected link */
a:active {
  color: Gold;
}

.navbar {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75)),
    url("images/grass.png");
  background-repeat: no-repeat, repeat;
  background-size: cover, 64px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; 
}

body {
  margin: 0;
  background-image:
    radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("images/dirt.png");
  background-repeat: no-repeat, repeat;
  background-size: cover, 64px 64px;
  font-family: "3emj", sans-serif;
  color: white;
  min-height: 100vh;
}

/* used to keep the navbar from looking weird */
main {
  margin: 20px;
}